In [44]:
cd ..

/home/ec2-user/uclresearchanalysis

In [46]:
import builtins
builtins.uclresearch_topic = 'GIVENCHY' #0 -- Finished
# builtins.uclresearch_topic = 'HAWKING' #0 -- Finished
# builtins.uclresearch_topic = 'NYC' # 73502
# builtins.uclresearch_topic = 'FLORIDA' # 443351
from configuration import config
from py2neo import Graph
from py2neo import Node
from py2neo import Relationship

In [57]:
users = config.load_followers_dictionary()

Loading data file from path /home/ec2-user/uclresearchanalysis/data/givenchy/pickle/followers.dat
'Loaded 5011 entires'

In [ ]:
users

In [48]:
users.head()

,user,user_id,time_lapsed,followers_count,friends_count,user_created_days,user_statuses_count,user_listed_count,user_favourites_count,normalized_user_statuses_count,normalized_user_followers_count,normalized_user_favourites_count,normalized_user_listed_count,normalized_user_friends_count,mention_and_reply,source_candidates,source_index,seed_index,generation,time_since_seed
0,davelackie,100766356,0.00,143119,4643,2993,181393,555,11938,60.605747,47.817908,3.988640,0.185433,1.551286,[],"[3, 5, 6, 7, 10, 11, 14, 15, 19, 20, 24, 74, 8...",None,0,0,0
1,alexanderskhan,3186545203,0.15,753,3428,1042,12853,8,34186,12.334933,0.722649,32.808061,0.007678,3.289827,[0],[0],0,0,1,0.15
2,consiglierela,4134992843,0.23,2161,396,856,46934,36,78797,54.829439,2.524533,92.052570,0.042056,0.462617,[0],"[0, 12, 21, 32, 48, 748, 819, 972, 2358, 2778,...",0,0,1,0.23
3,ImpactPrincess,1955472014,0.63,242,642,1613,23179,55,28995,14.370118,0.150031,17.975821,0.034098,0.398016,[0],"[0, 115, 577]",0,0,1,0.63
4,Damek0Masca,406301175,1.13,116,239,2318,2407,12,1058,1.038395,0.050043,0.456428,0.005177,0.103106,[],[],None,4,0,0

In [55]:
for index, row in users[0:10].iterrows():
    Node('TwitterUser', user_id=row.user_id, )
    
    
    print(index, row.user_id)

0 100766356
1 3186545203
2 4134992843
3 1955472014
4 406301175
5 2938214163
6 89805327
7 342931336
8 27220084
9 97360017

In [40]:
graph = Graph()

In [41]:
a = Node('User', name='Test')

In [42]:
a['attribute1'] = 'test'

In [43]:
a

(:User {attribute1: 'test', name: 'Test'})

In [34]:
graph.address

In [37]:
graph.node

In [29]:
a = Node("Person", name="Alice")
b = Node("Person", name="Bob")
ab = Relationship(a, "KNOWS", b)
ab

(Alice)-[:KNOWS {}]->(Bob)

In [31]:
c = Node("Person", name="Carol")
class WorksWith(Relationship): pass
ac = WorksWith(a, c)
ac

(Alice)-[:WORKS_WITH {}]->(Carol)

In [20]:
graph = Graph()

In [21]:
nicole = Node("Person", name="Nicole", age=24)
drew = Node("Person", name="Drew", age=20)

mtdew = Node("Drink", name="Mountain Dew", calories=9000)
cokezero = Node("Drink", name="Coke Zero", calories=0)

coke = Node("Manufacturer", name="Coca Cola")
pepsi = Node("Manufacturer", name="Pepsi")

In [22]:
graph.create(nicole | drew | mtdew | cokezero | coke | pepsi)

In [23]:
graph

In [25]:
from scripts.vis import draw

options = {"Person": "name", "Drink": "name", "Manufacturer": "name"}
draw(graph, options)

ModuleNotFoundError: No module named 'scripts'