In [5]:
import config
from config import load_ml_data

data = load_ml_data(60)
data.head()

Loading data file from path /Users/lzhou/git/github/uclresearchanalysis/data/givenchy/pickle/60_data.dat
'Loaded 111378 entires'

,kIn,kOut-1,kOut0,kOutAverage,kOutMax,kOutMin,label,nNodes,t-1,t0,tAverage,tCurrent
0,1,183,183,183.0,183,183,1,1,60.0,60.0,60.0,60
1,1,183,183,183.0,183,183,1,1,120.0,120.0,120.0,120
2,1,183,183,183.0,183,183,1,1,180.0,180.0,180.0,180
3,1,183,183,183.0,183,183,1,1,240.0,240.0,240.0,240
4,1,183,183,183.0,183,183,1,1,300.0,300.0,300.0,300